<label
  htmlFor="{{ id }}"
  class="
      {{ styles.label }}
      text
      {{#if horizontal }}
        size-7
      {{ else }}
        size-14
      {{/if}}
      font-weight-500
    "
>
  {{ label }}
</label>
