& {
  .messages {
    padding: px(48) px(20) px(30);
    gap: px(10);
  }

  .textMessage {
    max-width: px(402);
    padding: px(11);
    border-radius: px(10);
  }

  .time {
    right: px(11);
    bottom:  px(11);
  }
}
