& {
  .messages {
    padding: px(48) px(20) px(30);
    gap: px(10);
  }

  .message {
    max-width: px(402);
    padding: px(11);
    border-radius: px(10);
  }

  .message.image {
    border: px(1) solid var(--paletteColor10);
  }

  .time {
    margin-top: px(5);
  }

  .image .time {
    right: px(11);
    bottom:  px(11);
    padding: px(2) px(7);
    border-radius: px(30)
  }

  .isMy .time::after {
    top: px(3);
    right: px(30);
    width: px(10);
    height: px(4);
  }

  .oneLine  {
    display: flex;
  }

  .oneLine .content {
    padding-right: px(28);
  }
}
