& {
  .messages {
    padding: px(48) px(20) px(30);
    gap: px(10);
  }

  .message {
    max-width: px(402);
    padding: px(11);
    border-radius: px(10);
  }

  .message.image {
    border: px(1) solid var(--paletteColor10);
  }

  .time {
    right: px(11);
    bottom:  px(11);
  }

  .image .time {
    padding: px(2) px(7);
    border-radius: px(30)
  }
}
