.dialog {
  @import '../../../../../assets/styles/extensions';
  @import './palette';

  background: $backgroundColor;

  .stub {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .chooseChat {
    color: $stubColor;
  }

  .messages {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(0, max-content));
  }

  .message {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    background: $textMessageBackgroundColor;
  }


  .message.image {
    display: flex;
    align-items: center;
    padding: 0;
    overflow: hidden;
    background: white;
  }

  .imageContent {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .message .content {
    display: flex;
    align-items: center;
    white-space: pre-line;
  }

  .time {
    color: $textMessageTextColor;
  }

  .text .time {
    display: block;
    width: min-content;
    margin-left: auto;
  }

  .image .time {
    position: absolute;
    background: $imageMessageTimeBackgroundColor;
    color: $imageMessageTimeColor;
  }

  .isMy {
    align-self: center;
    margin-left: auto;
    background-color: $myMessageBackgroundColor;
  }

  .isMy .time {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: min-content;
    margin-left: auto;
  }

  .isMy .time::after {
    content: '';
    position: absolute;
    background-image: url('../../../../../assets/images/ticks.svg');
    background-repeat: no-repeat;
  }


  @function px($px) {
    @return pxMedia($px, phonePortrait);
  }

  @media #{getMediaFeature(phonePortrait)} {
    @import './mq/phonePortrait';
  }

  @function px($px) {
    @return pxMedia($px, phoneLandscape);
  }

  @media #{getMediaFeature(phoneLandscape)} {
    @import './mq/phoneLandscape';
  }

  @function px($px) {
    @return pxMedia($px, phoneLandscapePlus);
  }

  @media #{getMediaFeature(phoneLandscapePlus)} {
    @import './mq/phoneLandscapePlus';
  }

  @function px($px) {
    @return pxMedia($px, tabletPortrait);
  }

  @media #{getMediaFeature(tabletPortrait)} {
    @import './mq/tabletPortrait';
  }

  @function px($px) {
    @return pxMedia($px, tabletLandscape);
  }

  @media #{getMediaFeature(tabletLandscape)} {
    @import './mq/tabletLandscape';
  }

  @function px($px) {
    @return pxMedia($px, desktop);
  }

  @media #{getMediaFeature(desktop)} {
    @import './mq/desktop';
  }

  @function px($px) {
    @return pxMedia($px, desktopWide);
  }

  @media #{getMediaFeature(desktopWide)} {
    @import './mq/desktopWide';
  }

  @function px($px) {
    @return pxMedia($px, desktopHD);
  }

  @media #{getMediaFeature(desktopHD)} {
    @import './mq/desktopHD';
  }

  @function px($px) {
    @return pxMedia($px, desktopMega);
  }

  @media #{getMediaFeature(desktopMega)} {
    @import './mq/desktopMega';
  }
}
