$backgroundColor: var(---paletteColor0);

$stubColor: var(--paletteColor6);

$textMessageBackgroundColor: var(--paletteColor16);

$textMessageTextColor: var(--paletteColor6);

$imageMessageBorderColor: var(--paletteColor10);

$imageMessageTimeBackgroundColor: rgba(82, 82, 82, 0.5);
$imageMessageTimeColor: var(--paletteColor0);

$myMessageBackgroundColor: var(--paletteColor15);
