<div class="{{ styles.chat }} container">
  <div class="{{ styles.chatWrapper }} row">
   <div class="col xl-2 lg-3">
     {{{ chatList }}}
   </div>
    <div class="col xl-10 lg-9">
      {{{ dialog }}}
    </div>
  </div>
</div>
