& {
  height: px(52);

  &__field {
    padding: px(15) 0 px(5);
    border-bottom: px(1) solid $borderColor;
    font-size: px(13);
    line-height: px(12);
  }

  &__error-message {
    margin-top: px(7);
  }
}
