$borderColor: var(--paletteColor5);
$labelVerticalColor: var(--paletteColor6);
$errorColor: var(--paletteColor7);

$labelHorizontalColor: var(--paletteColor12);
$inputHorizontalColor:  var(--paletteColor6);
