& {
  --fontFamilyPrimary: 'Inter', sans-serif;

  --paletteColor0: #ffffff;
  --paletteColor1: #578aff;
  --paletteColor2: #0D65BE;
  --paletteColor3: #8E4CDC;
  --paletteColor4: #E5E5E5;
  --paletteColor5: #3369F3;
  --paletteColor6: #999999;
  --paletteColor7: #FF2F2F;
  --paletteColor8: #EFEFEF;
  --paletteColor9: #000000;
  --paletteColor10: #EAEAEA;
  --paletteColor11: #FBFBFB;
  --paletteColor12: #1E1E1E;
  --paletteColor13: #FF0000;
  --paletteColor14: #E4E4E4;
  --paletteColor15: #E4EDFD;
  --paletteColor16: #F8F8F8;
}
