$backgroundColor: var(--paletteColor11);
$borderColor: var(--paletteColor10);

$linkColor: var(--paletteColor6);

$titleColor: var(--paletteColor12);

$lastMessageColor: var(--paletteColor6);

$timeColor: var(--paletteColor6);

$counterBackgroundColor: var(--paletteColor5);
$counterColor: var(--paletteColor0);

$scrollThumbColor: var(--paletteColor14);
$scrollThumbBorderColor: var(--paletteColor11);
$scrollTrackColor: transparent;

$chatItemHoverBackgroundColor: var(--paletteColor15);

$outlineColor: var(--paletteColor1);
