<link rel="stylesheet" href={{ absolute '/src/modules/elements/button/styles/index.scss' }} type="text/css" />
    <button class="button {{#if type }} {{type}} {{else}} --primary {{/if }} {{#if fluid }} --fluid {{/if }}" >
  {{ text }}
</button>
