<link rel="stylesheet" href="/src/pages/chat/styles/index.scss" />
{{#> app/app title="Вход" }}
  {{#*inline "content"}}
    <div class="container">
      <div class="row">
        <div class="col center xl-12 lg-12">
          <section class="chat">
            <p class="text size-1 font-weight-600 center">
              Здесь будет чат
            </p>
          </section>
        </div>
      </div>
    </div>
  {{/inline}}
{{/app/app }}
