<section class="{{ styles.chat }} container">
  <div class="row">
   <section class="{{ styles.chatList }} col xl-2 lg-2">
     {{{ chatList }}}
   </section>
    <section class="{{ styles.chatDialog }} col xl-10 lg-10">
      Chat
    </section>
  </div>
</section>
