<div class="container">
  <div class="row">
    <div class="col center xl-12 lg-12">
      <section class="{{ styles.chat }}">
        <p class="text size-1 font-weight-600 center">
          Здесь будет чат
        </p>
      </section>
    </div>
  </div>
</div>
