$primaryColor: var(--paletteColor0);
$primaryBackgroundColor: var(--paletteColor5);

$secondaryColor: var(--paletteColor5);
$secondaryBackgroundColor: var(--paletteColor0);

$tertiaryColor: var(--paletteColor13);
$tertiaryBackgroundColor: var(--paletteColor0);


$quaternaryColor: var(--paletteColor6);
$quaternaryBackgroundColor: transparent;
