$primaryColor: var(--paletteColor0);
$primaryBackground: var(--paletteColor5);

$secondaryColor: var(--paletteColor5);
$secondaryBackground: var(--paletteColor0);

$tertiaryColor: var(--paletteColor13);
$tertiaryBackground: var(--paletteColor0);
