<div class="{{ styles.avatarForm }} center">
  <div class="{{ styles.textWrapper }}">
    <p class="{{ styles.text }} text size-8 font-weight-500">Выбрать файл на компьютере</p>
  </div>
  {{!> elements/input/input name="avatar" id="avatar" type="file" label="Загрузить фото" hidden=true }}
  {{!> elements/button/button text="Поменять" fluid=true }}
</div>
