<link rel="stylesheet" href="/src/modules/elements/modal/styles/index.scss"/>
<section class="modal">
  <div class="modal__dialog">
    <h3 class="modal__title text size-4 font-weight-500">{{ title }}</h3>
    <div class="modal__content">
      {{> content }}
    </div>
  </div>
</section>
