<link rel="stylesheet" href="/src/modules/elements/editableQuestionnaire/styles/index.scss"/>
<div class="editable-questionnaire">
  {{#each list }}
    {{#>elements/listItem/listItem last=@last noPadding=true }}
      {{#*inline "content"}}
        <div class="editable-questionnaire__item">
          {{> elements/input/input name=name id=id type=type value=value label=label layout="horizontal" }}
        </div>
      {{/inline}}
    {{/elements/listItem/listItem}}
  {{/each}}
</div>
