<link rel="stylesheet" href="/src/pages/profileEdit/styles/index.scss" />
{{#> app/app title="Edit profile" }}
  {{#*inline "content"}}
    <div class="profile-edit container">
      <div class="row">
          <div class="col xl-auto lg-auto">
            <aside class="profile-edit__nav">
              <button class="profile-edit__back"/>
            </aside>
          </div>
          <div class="col">
            <section class="profile-edit__info center">
              <div class="profile-edit__avatar-and-name">
                <div class="profile-edit__avatar">
                  {{> elements/avatar/avatar size="medium" edit=true  alt="Загрузить фото" }}
                </div>
              </div>
              <div class="profile-edit__questionnaire">
                {{> elements/questionnaire/questionnaire list=profileInfoQuestionnaire }}
              </div>
            </section>

            <section class="profile-edit__actions center">
              <div  class="profile-edit__save-button center">
                {{> elements/button/button text="Сохранить" fluid=true}}
              </div>
            </section>
          </div>
      </div>
    </div>
  {{/inline}}
{{/app/app }}
