<link rel="stylesheet" href={{ absolute '/src/modules/auth/registrationForm/styles/index.scss' }} />
<form class="registration-form center">
  <fieldset class="registration-form__fieldset">
    <legend class="registration-form__legend text font-weight-500 size-2">Регистрация</legend>
    <div class="registration-form__fields-wrapper">
      <div class="registration-form__field-wrapper">
        {{> elements/input/input name="email" id="email" type="text" value="pochta@yandex.ru" label="Почта"}}
      </div>
      <div class="registration-form__field-wrapper">
        {{> elements/input/input name="login" id="login" type="text" value="ivanivanov" label="Логин"}}
      </div>
      <div class="registration-form__field-wrapper">
        {{> elements/input/input name="first_name" id="first_name" type="text" value="Иван" label="Имя"}}
      </div>
      <div class="registration-form__field-wrapper">
        {{> elements/input/input name="second_name" id="second_name" type="text" value="Иванов" label="Фамилия"}}
      </div>
      <div class="registration-form__field-wrapper">
        {{> elements/input/input name="phone" id="phone" type="text" value="+7 (909) 967 30 30" label="Телефон"}}
      </div>
      <div class="registration-form__field-wrapper">
        {{> elements/input/input name="password" id="password" type="password" value="123456789123" label="Пароль" isError=true}}
      </div>
      <div class="registration-form__field-wrapper">
        {{> elements/input/input name="password" id="password" type="password" value="123456789123" label="Пароль (ещё раз)" isError=true errorMessage="Пароли не совпадают"}}
      </div>
    </div>
    <div  class="registration-form__button-wrapper">
      {{> elements/button/button text="Создать аккаунт" fluid=true }}
    </div>
    {{> elements/button/button text="Войти" type="secondary" fluid=true }}
  </fieldset>
</form>
