<link rel="stylesheet" href={{ absolute '/src/modules/auth/authForm.scss' }} />
<form class="auth-form">
  <fieldset>
    <legend>Вход</legend>
    <input type="text" name="login"/>
    <input type="text" name="password"/>
    <button>Войти</button>
  </fieldset>
</form>
