<link rel="stylesheet" href="/src/modules/elements/staticQuestionnaire/styles/index.scss"/>
<dl class="static-questionnaire">
  {{#each list }}
    {{#>elements/listItem/listItem last=@last }}
      {{#*inline "content"}}
        <div class="static-questionnaire__item">
          <dt class="static-questionnaire__term text size-7 font-weight-500">{{ term }}</dt>
          <dd class="static-questionnaire__details text size-7 font-weight-500">{{ details }}</dd>
        </div>
      {{/inline}}
    {{/elements/listItem/listItem}}
  {{/each}}
</dl>
