<link rel="stylesheet" href="/src/pages/signIn/styles/index.scss" />
{{#> app/app title="Вход" }}
  {{#*inline "content"}}
    <div class="container">
      <div class="row">
        <div class="col center xl-4 lg-4">
          <section class="sing-in">
            {{> auth/authForm/authForm }}
          </section>
        </div>
      </div>
      <script type="module">
        import { EventBus } from "../../modules/core/utils/eventBus";

        const eventBus = new EventBus()


        const callback = (...args) => {
          console.log('Event emitted', args);
        }

        eventBus.on('myEvent', callback);
        eventBus.emit('myEvent');
        // Теперь передаём правильную ссылку, обработчик будет отписан
        eventBus.off('myEvent', callback);

        console.log(eventBus.listeners);
      </script>
    </div>
  {{/inline}}
{{/app/app }}
