<link rel="stylesheet" href={{ absolute '/src/modules/profile/uploadPhotoForm/styles/index.scss' }} />
<form class="upload-photo-form center">
  <div class="upload-photo-form__text-wrapper">
    <p class="upload-photo-form__text text size-8 font-weight-500">Выбрать файл на компьютере</p>
  </div>
  {{> elements/button/button text="Поменять" fluid=true }}
</form>
