<link rel="stylesheet" href='/src/modules/profile/uploadPhotoForm/styles/index.scss' />
<div class="upload-photo-form center">
  <div class="upload-photo-form__text-wrapper">
    <p class="upload-photo-form__text text size-8 font-weight-500">Выбрать файл на компьютере</p>
  </div>
  {{> elements/input/input name="avatar" id="avatar" type="file" label="Загрузить фото" hidden=true }}
  {{> elements/button/button text="Поменять" fluid=true }}
</div>
