& {
  &.vertical {
    height: px(52);
  }

  &.vertical .field {
    padding: px(15) px(5) px(5);
    border-bottom: px(1) solid $borderColor;
  }


  &.horizontal .field  {
    height: px(33);
    padding: px(10);
  }

  .errorMessage {
    margin-top: px(7);
  }

  &.vertical .label {
    top: px(3);
    left: px(5);
  }
}
