& {
  &.--vertical {
    height: px(52);
  }

  &.--vertical .input__field {
    padding: px(15) 0 px(5);
    border-bottom: px(1) solid $borderColor;
  }


  &.--horizontal .input__field  {
    height: px(33);
    padding: px(10);
  }

  &__error-message {
    margin-top: px(7);
  }
}
