& {
  &.vertical {
    height: px(52);
  }

  &.vertical .field {
    padding: px(15) 0 px(5);
    border-bottom: px(1) solid $borderColor;
  }


  &.horizontal .field  {
    width: px(185);
    height: px(33);
    padding: px(10);
  }

  .errorMessage {
    margin-top: px(7);
  }

  &.vertical .label {
    top: px(18);
  }

  &.vertical .field[value='']:not(:focus) ~ .label {
    transform: translateY(0);
    font-size: px(13);
    line-height: px(13);
  }

  &.horizontal .errorWrapper {
    right: px(0);
    bottom: px(1);
    left: px(335);
  }
}
