$backgroundColor: var(--paletteColor0);
$borderColor: var(--paletteColor5);

$errorColor: var(--paletteColor7);

$verticalLabelColor: var(--paletteColor6);
$verticalInputColor: var(--paletteColor12);

$horizontalLabelColor: var(--paletteColor12);
$horizontalInputColor:  var(--paletteColor12);

$disabledInputColor: var(--paletteColor6)
