<link rel="stylesheet" href="/src/modules/elements/listItem/styles/index.scss" />
<div class="list-item {{~#if last }} --last {{~/if}} {{~#if noPadding }} --no-padding {{~/if}}">
  {{> content }}
</div>
