& {
  .nav {
    width: px(64);
  }

  .info,
  .actions {
    max-width: px(510)
  }

  .avatarAndName {
    height: px(167);
    margin-bottom: px(50);
  }

  .avatar {
    margin: px(60) 0 px(21);
  }


  .back {
    width: px(28);
    height: px(28);
  }

  .questionnaire {
    height: px(203);
    margin-bottom: px(40);
  }
}
