& {
  .nav {
    width: px(64);
    border-right: 1px solid $navBorder;
  }

  .info,
  .actions {
    max-width: px(510)
  }

  .avatarAndName {
    margin-bottom: px(50);
  }

  .avatar {
    margin: px(60) 0 px(21);
  }


  .back {
    width: px(28);
    height: px(28);
  }
}
