.avatar {
  @import '../../../../../assets/styles/extensions';
  @import './palette';

  position: relative;
  border: 0 transparent;
  border-radius: 50%;
  background: $avatarBackground;
  word-wrap: break-word;

  &.empty {
    background-image: url('/src/assets/images/profileStub.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
  }

  &.editable:hover {
    cursor: pointer;
  }

  .editOverlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0 transparent;
    border-radius: 50%;
    opacity: 0.5;
    background: $editBackground;
    color: $textColor;
    text-align: center;
    white-space: pre;
  }

  &.editable:hover .editOverlay {
    display: grid;
    align-items: center;
  }


  @function px($px) {
    @return pxMedia($px, phonePortrait);
  }

  @media #{getMediaFeature(phonePortrait)} {
    @import './mq/phonePortrait';
  }

  @function px($px) {
    @return pxMedia($px, phoneLandscape);
  }

  @media #{getMediaFeature(phoneLandscape)} {
    @import './mq/phoneLandscape';
  }

  @function px($px) {
    @return pxMedia($px, phoneLandscapePlus);
  }

  @media #{getMediaFeature(phoneLandscapePlus)} {
    @import './mq/phoneLandscapePlus';
  }

  @function px($px) {
    @return pxMedia($px, tabletPortrait);
  }

  @media #{getMediaFeature(tabletPortrait)} {
    @import './mq/tabletPortrait';
  }

  @function px($px) {
    @return pxMedia($px, tabletLandscape);
  }

  @media #{getMediaFeature(tabletLandscape)} {
    @import './mq/tabletLandscape';
  }

  @function px($px) {
    @return pxMedia($px, desktop);
  }

  @media #{getMediaFeature(desktop)} {
    @import './mq/desktop';
  }

  @function px($px) {
    @return pxMedia($px, desktopWide);
  }

  @media #{getMediaFeature(desktopWide)} {
    @import './mq/desktopWide';
  }

  @function px($px) {
    @return pxMedia($px, desktopHD);
  }

  @media #{getMediaFeature(desktopHD)} {
    @import './mq/desktopHD';
  }

  @function px($px) {
    @return pxMedia($px, desktopMega);
  }

  @media #{getMediaFeature(desktopMega)} {
    @import './mq/desktopMega';
  }
}
