<section class="{{ styles.dialog }}">
  {{#if isEmpty }}
    <div class="{{ styles.stub }} center">
      <p class="{{ styles.chooseChat }} text size-10">
        Выберите чат чтобы отправить сообщение
      </p>
    </div>
  {{/if}}
</section>
