<div class="container">
  <div class="row">
    <div class="col center xl-4 lg-4">
      <section class={{ styles.signUp }}>
        {{{ registrationForm }}}
      </section>
    </div>
  </div>
</div>
