---
id: "root"
---
<html>
  <head>
    <link rel="stylesheet" href="./assets/core.scss" />
    <script src="./index.js" type="module"></script>
  </head>
  <body>
    <div id="{{ id }}"></div>
  </body>
</html>
