---
id: "root"
---
<html>
  <head>
    <link rel='stylesheet' href='./assets/styles/core/fonts/index.scss' />
    <link rel='stylesheet' href='./assets/styles/core.scss' />
    <script src='./index.js' type='module'></script>
  </head>
  <body>
    <div id='{{id}}'></div>
  </body>
</html>
