<link rel="stylesheet" href="/src/pages/profileEditPassword/styles/index.scss" />
{{#> app/app title="Edit profile pasword" }}
  {{#*inline "content"}}
    <div class="profile-edit-password container">
      <div class="row">
          <div class="col xl-auto lg-auto">
            <aside class="profile-edit-password__nav">
              <button class="profile-edit-password__back"/>
            </aside>
          </div>
          <div class="col">
            <section class="profile-edit-password__info center">
              <div class="profile-edit-password__avatar-and-name">
                <div class="profile-edit-password__avatar">
                  {{> elements/avatar/avatar size="medium" edit=true alt="Загрузить фото" }}
                </div>
              </div>
              <div class="profile-edit-password__questionnaire">
                {{> elements/questionnaire/questionnaire list=profilePasswordQuestionnaire }}
              </div>
            </section>

            <section class="profile-edit-password__actions center">
              <div  class="profile-edit-password__save-button center">
                {{> elements/button/button text="Сохранить" fluid=true}}
              </div>
            </section>
          </div>
      </div>
    </div>
  {{/inline}}
{{/app/app }}
